.articleCard {
    height: 22rem;
    width: 28rem;
    margin: 5rem;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}

.articleInfo {
    background-color: white;
    border-radius: 5px;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;;
}

@media only screen and (max-width: 1200px) {
.articleCard {
    height: 18rem;
    width: 20rem;
    margin: 1rem;}
}