.articleContainer {
  width: 22vw;
  margin: 1.5vw;
}

.articleCard {
  width: 22vw;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.articleHover {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(164, 171, 213, 0.491);
  opacity: 0;
}
.articleHover p {
  font-size: 1.2rem;
}

.articleHover:hover {
  opacity: 1;
}

.articleInfo {
  padding-top: 1rem;
}

.articleInfo h2 {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.publisherAndDate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(83, 83, 83);
}

.articleInfo h4 {
  font-size: 0.7rem;
}

@media only screen and (max-width: 700px) {
  .articleContainer {
    width: 28vw;
  }

  .articleCard {
    width: 28vw;
  }
}

@media only screen and (max-width: 525px) {
  .articleContainer {
    width: 80vw;
  }

  .articleCard {
    width: 80vw;
  }
}
