.articleCard {
    width: 25vw;
    aspect-ratio: 1/1.2;
    margin: 1.5rem;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.articleInfo {
    background-color: white;
    border-radius: 5px;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;;
}
.articleCard:hover {
    color: #ff00e1;
    position: relative;
    top: -2px;
    left: -2px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 20px 40px, rgba(0, 0, 0, 0.23) 0px 12px 12px;
}

@media only screen and (max-width: 700px) {
    .articleCard {
        width: 35vw;
        margin: 1rem;
    }
}

@media only screen and (max-width: 525px) {
    .articleCard {
        width: 80vw;
        margin: 2rem;
    }
}