.homeFeed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.loadMoreButton {
    width: 5rem;
    height: 2.4rem;
    margin: 2rem;
    background-color: orange;
    color: white;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}

#homeFeedContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.loadMoreButton:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}

@media only screen and (max-width: 700px) {
    .homeFeed {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

