#homeFeedContainer {
    display: flex;
    justify-content: center;
}

.homeFeed {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}
.loadMoreButton {
    width: 5rem;
    height: 2.4rem;
    margin: 2rem;
    background-color: orange;
    color: white;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}

.loadMoreButton:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}
@media only screen and (max-width: 700px) {
    .homeFeed {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

