.aboutMeContainer {
    display: flex;
    justify-content: space-around;
}

.aboutMeImage {
    width: 35vw;
    height: fit-content;
    margin: 3rem 0 3rem 3rem;
}

.aboutMeText {
    align-self: center;
    width: 40vw;
    margin: 3rem;
    padding: 3rem;
}

.noodlesImageContainer {
    height: 18rem;
    overflow: hidden;
}

.noodlesImage {
    width: 100vw;
    
}

@media only screen and (max-width: 735px) {
    .aboutMeContainer {
        flex-direction: column;
    }
    .aboutMeImage {
        width: 80vw;
        border-radius: 10px;
        margin: 2rem;
    }
    .aboutMeText {
        align-self: auto;
        margin: 0;
        padding: 3rem;
    }
    .aboutMeText {
        width: 90vw;
    }
}
