.croissants {
    width: 100vw;
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homePageImageContainer img{
    object-fit: cover;
    overflow: hidden;
    height: 18rem;
}

/* @media only screen and (max-width: 1024px) {
    .homePageImageContainer img{
    height:30em;
    }
} */