.articleAdminContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postNewArticle {
    align-self: center;
    height: 3rem;
    width: 9rem;
    margin: 1.5rem;
    background-color: orange;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.postNewArticle:hover {
    color:orange;
    background-color: white;
    border: 1px solid orange;
}