#addNewArticleFormContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#addNewArticleForm {
    display: flex;
    flex-direction: column;
    width: 355px;
}
#addNewArticleForm label{
    padding: .3rem 0 .3rem 1rem;
}

#publicationDate {
    width: 40%;
    text-align: center;
    margin-left: 2rem;
}

#publisher {
    width: 10rem;
    margin: .3rem;
    position: relative;
    left: 4rem;
}
#other {
    position: relative;
    margin: 1rem;
    align-self: center;
}
#image {
    margin: 1.5rem;
}
#submitArticleButton {
    height: 2.5rem;
    background-color: green;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    width: 10rem;
    align-self: center;
    border: none;
    cursor: pointer;
}
#submitArticleButton:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
}