.deleteArticleButton {
    background-color: rgb(128, 25, 25);
    border-radius: .4rem;
    color: white;
    height: 1.8rem;
    width: 3.2rem;
    padding: .2rem;
    text-align: center;
    margin-top: .5rem;
    cursor: pointer;
}

.deleteArticleButton:hover {
    background-color: white;
    color: rgb(128, 25, 25);
    border: 1px solid rgb(128, 25, 25);
}