.deleteArticleButton {
    background-color: red;
    color: white;
    height: 1.8rem;
    width: 3.2rem;
    text-align: center;
    align-self: flex-end;
    margin: 1rem;
    cursor: pointer;
}

.deleteArticleButton:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}